---
Checks:          '-*,
                  boost-*,
                  bugprone-*,
                  clang-analyzer-*,
                  cppcoreguidelines-*,
                  google-readability-todo,
                  google-runtime-int,
                  google-runtime-references,
                  hicpp-exception-baseclass,
                  llvm-namespace-comment,
                  misc-*,
                  modernize-*,
                  performance-*,
                  readability-*,
                  -modernize-use-trailing-return-type,
                  -cppcoreguidelines-pro-bounds-constant-array-index,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -fuchsia-default-arguments,
                  -readability-redundant-member-init,
                  -readability-magic-numbers,
                  -readability-uppercase-literal-suffix,
                  -misc-non-private-member-variables-in-classes,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -clang-analyzer-cplusplus.Move,
                  -bugprone-infinite-loop
                  '
#WarningsAsErrors: '*'
AnalyzeTemporaryDtors: false
...
