[submodule "external/mbed_lib_build_tools"]
	path = external/mbed_lib_build_tools
	url = https://github.com/mbedmicro/mbed.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://git.chromium.org/git/external/googletest.git
[submodule "external/style-configs"]
	path = external/style-configs
	url = git://github.com/robojackets/style-configs
