*.kdev4

# scons build system
.sconsign.dblite
.scons_variables

# build directories
/build
/gmon.out
*.swp
/.settings
/api_docs
*~

# sublime-text
*.sublime-workspace

# Python
__pycache__/
*.pyc
.pydevproject

# OS X Finder prefs
.DS_Store

# Qt Creator
*.creator.user

# IntelliJ
.idea

# output binaries
run/*.bin
run/*.nib

