*.kdev4
*.pyc
.sconsign.dblite
.scons_variables
/build
/build-scons
.pydevproject
/gmon.out
*.swp
/.settings
/api_docs
*~
*.sublime-workspace

# OS X desktop garbage files
.DS_Store

# Qt Creator
*.creator.user

# IntelliJ
.idea
