[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/style-configs"]
	path = external/style-configs
	url = https://github.com/robojackets/style-configs
[submodule "external/rrt"]
	path = external/rrt
	url = https://github.com/robojackets/rrt
[submodule "external/robocup-fshare"]
	path = external/robocup-fshare
	url = https://github.com/robojackets/robocup-fshare
[submodule "external/sdlcontrollerdb"]
	path = external/sdlcontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB
