# -*-mode: conf-*-

[MASTER]
init-hook='import sys; sys.path.append("./soccer/src/soccer/gameplay")'

[TYPECHECK]
ignored-modules = PyQt5.*, robocup
ignored-classes =

[MESSAGES CONTROL]
disable=locally-disabled,
        unused-import,
        fixme,
        missing-docstring,
        C,R,W
