max_acceleration: 1.0
max_angular_velocity: 5.0
max_velocity: 1.0
rotation_kd: 0.0
rotation_ki: 0.0
rotation_kp: 0.0
rotation_windup: 0
translation_kd: 0.25
translation_ki: 0.0005
translation_kp: 2.0
translation_windup: 0
use_sim_time: false
