# Uncrustify 0.61

#
# This is the config file for the uncrustify utility, an automatic code-formatting tool
#

# use spaces for indentation
indent_with_tabs = 0

# 4 spaces for indent
indent_columns = 4

# every file should end with a newline
nl_end_of_file = force
nl_end_of_file_min = 1


#
# inter-symbol newlines
#
nl_enum_brace       = remove    # "enum {" vs "enum \n {"
nl_union_brace      = remove    # "union {" vs "union \n {"
nl_struct_brace     = remove    # "struct {" vs "struct \n {"
nl_do_brace         = remove    # "do {" vs "do \n {"
nl_if_brace         = remove    # "if () {" vs "if () \n {"
nl_for_brace        = remove    # "for () {" vs "for () \n {"
nl_else_brace       = remove    # "else {" vs "else \n {"
nl_while_brace      = remove    # "while () {" vs "while () \n {"
nl_switch_brace     = remove    # "switch () {" vs "switch () \n {"
nl_brace_while      = remove    # "} while" vs "} \n while" - cuddle while
nl_brace_else       = remove    # "} else" vs "} \n else" - cuddle else


#
# Source code modifications
#

mod_paren_on_return = remove    # "return 1;" vs "return (1);"


#
# inter-character spacing options
#

# sp_return_paren       = force     # "return (1);" vs "return(1);"
sp_sizeof_paren         = remove    # "sizeof (int)" vs "sizeof(int)"
sp_before_sparen        = force     # "if (" vs "if("
sp_after_sparen         = force     # "if () {" vs "if (){"
sp_after_cast           = remove    # "(int) a" vs "(int)a"
sp_inside_braces        = add       # "{ 1 }" vs "{1}"
sp_inside_braces_struct = add       # "{ 1 }" vs "{1}"
sp_inside_braces_enum   = add       # "{ 1 }" vs "{1}"
sp_assign               = add
sp_arith                = add
sp_bool                 = add
sp_compare              = add
sp_assign               = add
sp_after_comma          = add
sp_func_def_paren       = remove    # "int foo (){" vs "int foo(){"
sp_func_call_paren      = remove    # "foo (" vs "foo("
sp_func_proto_paren     = remove    # "int foo ();" vs "int foo();"
