<config>
	<process>
		<name>Simulator</name>
		<command>
			<arg>./soccsim</arg>
		</command>
		<dir>SoccSim/bin</dir>
		<enabled>0</enabled>
		<delay>500</delay>
		<max_restarts>3</max_restarts>
	</process>
	
    <process>
        <name>Vision (right)</name>
        <command>
            <arg>./vision</arg>
            <arg>../config/prosilica_right.xml</arg>
        </command>
        <dir>Vision/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Vision (full)</name>
        <command>
            <arg>./vision</arg>
            <arg>../config/prosilica_right.xml</arg>
            <arg>../config/prosilica_left.xml</arg>
        </command>
        <dir>Vision/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Radio Yellow</name>
        <command>
            <arg>./radio</arg>
            <arg>-y</arg>
            <arg>/dev/ttyS0</arg>
        </command>
        <dir>Radio/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
	<process>
		<name>Motion Yellow (comp)</name>
		<command>
			<arg>./motion</arg>
			<arg>-y</arg>
            <arg>../config/real_china1.xml</arg>
		</command>
        <dir>Motion/bin</dir>
		<enabled>0</enabled>
		<delay>500</delay>
		<max_restarts>3</max_restarts>
	</process>
	
    <process>
        <name>Motion Yellow (sim)</name>
        <command>
            <arg>./motion</arg>
            <arg>-y</arg>
            <arg>../config/sim.xml</arg>
        </command>
        <dir>Motion/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Skills Yellow</name>
        <command>
            <arg>./skills</arg>
            <arg>-y</arg>
        </command>
        <dir>Skills/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Logger Yellow</name>
        <command>
            <arg>./logger</arg>
            <arg>-y</arg>
        </command>
        <dir>Logger/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
	<process>
		<name>Referee Yellow</name>
		<command>
			<arg>./referee</arg>
			<arg>-y</arg>
		</command>
        <dir>Referee/bin</dir>
		<enabled>0</enabled>
		<delay>500</delay>
		<max_restarts>3</max_restarts>
	</process>
	
    <process>
        <name>Soccer Yellow</name>
        <command>
            <arg>./soccer</arg>
            <arg>-y</arg>
            <arg>../plays/competition</arg>
        </command>
        <dir>Soccer/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Radio Blue</name>
        <command>
            <arg>./radio</arg>
            <arg>-b</arg>
            <arg>/dev/ttyS0</arg>
        </command>
        <dir>Radio/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Motion Blue (comp)</name>
        <command>
            <arg>./motion</arg>
            <arg>-b</arg>
            <arg>../config/real_china1.xml</arg>
        </command>
        <dir>Motion/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Motion Blue (sim)</name>
        <command>
            <arg>./motion</arg>
            <arg>-b</arg>
            <arg>../config/sim.xml</arg>
        </command>
        <dir>Motion/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Skills Blue</name>
        <command>
            <arg>./skills</arg>
            <arg>-b</arg>
        </command>
        <dir>Skills/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Logger Blue</name>
        <command>
            <arg>./logger</arg>
            <arg>-b</arg>
        </command>
        <dir>Logger/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Referee Blue</name>
        <command>
            <arg>./referee</arg>
            <arg>-b</arg>
        </command>
        <dir>Referee/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
    <process>
        <name>Soccer Blue</name>
        <command>
            <arg>./soccer</arg>
            <arg>-b</arg>
            <arg>../plays/competition</arg>
        </command>
        <dir>Soccer/bin</dir>
        <enabled>0</enabled>
        <delay>500</delay>
        <max_restarts>3</max_restarts>
    </process>
    
</config>
