defaults_env: &setup_env
  run:
    name: Set $PATH
    command: |
      echo 'export GOPATH="$HOME/go"' >> $BASH_ENV
      echo 'export PATH="$PATH:$HOME/go/bin"' >> $BASH_ENV
      source $BASH_ENV

defaults_dir: &dir
  working_directory: ~/robocup-software

defaults_image: &image
  docker:
    - image: robojackets/robocup-software:master

defaults_deps: &install_deps
  run: ./util/ubuntu-setup --yes

version: 2
jobs:
  test-all:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # Ensure latest deps are installed
      - <<: *install_deps
      - run: make
      - run: make test-soccer
      - run: make test-python

  # FIXME: pylint is broken on 18.04
  python-static:
    <<: *dir
    docker:
      - image: robojackets/robocup-software:16
    steps:
      - checkout
      - <<: *install_deps
      - run: make pylint
      - run: pip3 install -r util/requirements3.txt
      - run: make mypy

  style:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # We need environment variables ($GOPATH and $PATH specifically)
      - <<: *setup_env
      # Ensure latest deps are installed
      - <<: *install_deps
      - run: pip3 install --upgrade -r util/requirements3.txt
      - run: git fetch origin && STYLIZE_DIFFBASE=origin/staging make checkstyle-lines
      - run: |
          STYLIZE_DIFFBASE=origin/staging make checktidy-lines
          cat /tmp/checktidy.patch | python3 util/clang-tidy-to-junit.py > /tmp/clang_tidy.xml
          if [[ -n $(grep '[^[:space:]]' /tmp/checktidy.patch) ]]; then
            echo "****************************** clang-tidy errors *******************************"
            exit 1
          fi
      - store_artifacts:
          path: /tmp/clean.patch
      - store_test_results:
          path: /tmp/clang_tidy.xml

  gen-docs:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # Ensure latest deps are installed
      - <<: *install_deps
      - run: ./autoupdate-docs.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - test-all
      - python-static
      - style

      - gen-docs:
          requires:
            - test-all
            - python-static
            - style

          filters:
            branches:
              only: master
