defaults_env: &setup_env
  run:
    name: Set $PATH
    command: |
      echo 'export GOPATH="$HOME/go"' >> $BASH_ENV
      echo 'export PATH="$PATH:$HOME/go/bin"' >> $BASH_ENV
      source $BASH_ENV

defaults_dir: &dir
  working_directory: ~/robocup-software

image: &image
  docker:
    - image: robojackets/robocup-software:foxy

defaults_deps: &install_deps
  run: ./util/ubuntu-setup --yes

save_workspace: &save_workspace
  persist_to_workspace:
    root: ~/robocup-software
    paths:
      - build/*
      - install/*

load_workspace: &load_workspace
  attach_workspace:
    at: ~/robocup-software

version: 2
jobs:
  # Compile everything and save the build folder
  compile:
    <<: *dir
    <<: *image
    steps:
      - checkout
      - <<: *install_deps
      - run: |
          mkdir -p build && cd build
          source /opt/ros/foxy/setup.bash
          export CMAKE_PREFIX_PATH=/opt/ros/foxy
          cmake -GNinja -Wno-dev -DNO_WALL=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_INSTALL_PREFIX=../install --target -DBUILD_TESTS=ON ..
          ninja -j2 install
      - <<: *save_workspace

  # Use the saved build folder for testing
  test-all:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # Ensure latest deps are installed
      - <<: *install_deps
      - <<: *load_workspace
      # Run test without building anything
      - run: |
          source /opt/ros/foxy/setup.sh && source install/setup.bash && ./install/lib/rj_robocup/test-soccer --gtest_filter="*"
      - run: |
          source /opt/ros/foxy/setup.sh && source install/setup.bash && cd soccer/src/soccer/gameplay && ./run_tests.sh
      # Run tests for rj_gameplay
      - run: pip3 install -r rj_gameplay/requirements.txt
      - run: PYTHONPATH="$(readlink -f rj_gameplay):$PYTHONPATH" python3 -m pytest --cov rj_gameplay --cov stp rj_gameplay
      - run: bash <(curl -s https://codecov.io/bash)

  python-static:
    <<: *dir
    <<: *image
    steps:
      - checkout
      - <<: *install_deps
      - run: make pylint
      - run: pip3 install -r util/requirements3.txt
      - run: make mypy

  style:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # We need environment variables ($GOPATH and $PATH specifically)
      - <<: *setup_env
      # Ensure latest deps are installed
      - <<: *install_deps
      - run: pip3 install --upgrade -r util/requirements3.txt
      - run: |
          PR_NUM=$(echo $CIRCLE_PULL_REQUEST | grep -o "[0-9]*")
          if [ -z "$PR_NUM" ]; then
            DIFFBRANCH="ros2"
          else
            PR_API_URL="https://api.github.com/repos/robojackets/robocup-software/pulls/$PR_NUM"
            DIFFBRANCH=$(curl -s "$PR_API_URL" | python3 -c "import sys, json; print(json.load(sys.stdin)['base']['sha'])")
          fi
          echo "Diffing against $DIFFBRANCH for clang-format..."
          git fetch origin && DIFFBRANCH=$BASE_SHA make checkstyle-lines
      - store_artifacts:
          path: /tmp/clean.patch

  clang-tidy:
    <<: *dir
    <<: *image
    steps:
      - checkout
      - <<: *setup_env
      - <<: *install_deps
      - <<: *load_workspace
      - run: |
          PR_NUM=$(echo "$CIRCLE_PULL_REQUEST" | grep -o "[0-9]*")
          if [ -z "$PR_NUM" ]; then
            DIFFBRANCH="ros2"
          else
            PR_API_URL="https://api.github.com/repos/robojackets/robocup-software/pulls/$PR_NUM"
            DIFFBRANCH=$(curl -s "$PR_API_URL" | python3 -c "import sys, json; print(json.load(sys.stdin)['base']['sha'])")
          fi
          echo "Removing GCC precompiled headers from compile_commands.json so that clang-tidy will work"
          sed -i 's/-include [^ ]*cmake_pch\.hxx//' build/compile_commands.json
          echo "Diffing against $DIFFBRANCH for clang-tidy..."
          DIFFBRANCH=$DIFFBRANCH make checktidy-lines
          cat /tmp/checktidy.patch
          if grep -q 'No relevant changes found' /tmp/checktidy.patch; then
            echo "No relevant changes found"
            exit 0
          fi

          mkdir -p /tmp/test-results/clang-tidy
          cat /tmp/checktidy.patch | python3 util/clang-tidy-to-junit.py > /tmp/test-results/clang-tidy/results.xml
          if [[ -n $(grep '[^[:space:]]' /tmp/checktidy.patch) ]]; then
            echo "****************************** clang-tidy errors *******************************"
            exit 1
          fi
      - store_test_results:
          path: /tmp/test-results

  gen-docs:
    <<: *dir
    <<: *image
    steps:
      - checkout
      # Ensure latest deps are installed
      - <<: *install_deps
      - run: ./autoupdate-docs.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - compile
      - test-all:
          requires:
            - compile
      - python-static
      - style
      - clang-tidy:
          requires:
            - compile

      - gen-docs:
          requires:
            - test-all
            - python-static
            - style

          filters:
            branches:
              only: master
