<html>
<head>
<title>Add Process</title>
<link rel=stylesheet href="%(stylesheet)s"/>
</head>
<body>
<h3>Add Process</h3>
%(message)s

<form action="/cgi-bin/add" method="post"><p>
<input type="hidden" name="ret" value="%(ret)s"/>

<table border=0>
<tr><td>Host:</td><td>
<select name="host">
%(options)s
</select>
</td></tr>

<tr><td>Name:</td><td><input type="text" name="name" value="%(name)s"/></td></tr>
<tr><td>Working directory:</td><td><input type="text" name="cwd" value="%(cwd)s"/></td></tr>
<tr><td>Command line:</td><td><input type="text" name="command" value="%(command)s"/></td></tr>
<tr><td>Enabled:</td><td><input type="checkbox" name="enabled" %(enabled)s/></td></tr>
<tr><td>Delay:</td><td><input type="text" name="delay" value="%(delay)s"/></td></tr>
<tr><td>Max restarts:</td><td><input type="text" name="max_restarts" value="%(max_restarts)s"/></td></tr>
<tr><td>Auto DISPLAY:</td><td><input type="checkbox" name="auto_display" %(auto_display)s/></td></tr>
<tr><td>DISPLAY:</td><td><input type="text" name="display" value="%(display)s"/></td></tr>

</table><br/>
<input type="submit" value="Add"/>
</form>

</body>
</html>

