<html>
<title>Edit Process</title>
<body>
<h3>Edit Process</h3>
<form action="/cgi-bin/change" method="post"><p>
<input type="hidden" name="host" value="%(host)s"/>
<input type="hidden" name="name" value="%(name)s"/>
<input type="hidden" name="ret" value="%(ret)s"/>

<table border=0>

<tr><td>Name:</td><td><input type="text" name="new_name" value="%(name)s"/></td></tr>
<tr><td>Working directory:</td><td><input type="text" name="cwd" value="%(cwd)s"/></td></tr>
<tr><td>Command line:</td><td><input type="text" name="command" value="%(command)s"/></td></tr>
<tr><td>Enabled:</td><td><input type="checkbox" name="enabled" %(enable_checked)s/></td></tr>
<tr><td>Delay:</td><td><input type="text" name="delay" value="%(delay)s"/></td></tr>
<tr><td>Max restarts:</td><td><input type="text" name="max_restarts" value="%(max_restarts)s"/></td></tr>
<tr><td>Auto DISPLAY:</td><td><input type="checkbox" name="auto_display" %(auto_display_checked)s/></td></tr>
<tr><td>DISPLAY:</td><td><input type="text" name="display" value="%(display)s"/></td></tr>

</table><br/>
<input type="submit" value="Apply"/>
</form>
<a href="command?host=%(host)s&cmd=remove&proc=%(name)s&ret=%(ret)s">Remove Process</a>

</body>
</html>
