/** style sheet for rj-rc doc */

html {
    margin: 0px;
    padding: 0px;
    
    background-color: white;
}

body {
    margin: 0px;
    padding: 0px;

    position: absolute;
    left: -395px;
    top: 0px;
    
    width: 780px;
    min-height: 100%;
    margin-left: 50%;
    
    padding-left: 5px;
    padding-right: 5px;
    
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    
    background-color: #eeeeee;
}

h2 {
    border-bottom: 1px solid #999999;
}

h3 {
    border-bottom: 1px solid #cccccc;
}

p {
    padding-left: 15px;
}

ul {
    list-style-type: circle
}

dl {
	margin-left: 10px;
}

dt {
    font-weight: bold;
}

img {
    padding: 4px;
    border: 1px dashed #999999;
}
