# python requirements

graphviz>=0.4.2 # make pretty graphs/diagrams
watchdog # file-system event notifications
munkres	# provides the 'hungarian algorithm', which we use for robot role assignment
pylint #static checker for python
pyserial

stylize>=0.2.1 # code reformatting and checkstyling

