# python requirements

graphviz>=0.4.2 # make pretty graphs/diagrams
enum34
watchdog # file-system event notifications
munkres	# provides the 'hungarian algorithm', which we use for robot role assignment
pylint #static checker for python
pyserial
stylize>=0.1.2 # code reformatting and checkstyling
