# Put this file in /etc/udev/rules.d and
#     /etc/init.d/udev restart

SUBSYSTEM!="usb_device", ACTION!="add", GOTO="robocup_rules_end"

# Base station (AT90USB1287 bootloader)
SYSFS{idVendor}=="03eb", SYSFS{idProduct}=="2ffb", MODE="0660", GROUP="plugdev"

# Base station (normal operation)
SYSFS{idVendor}=="3141", SYSFS{idProduct}=="0004", MODE="0660", GROUP="plugdev"

LABEL="robocup_rules_end"
