# Put this file in /etc/udev/rules.d and
#     /etc/init.d/udev restart

# auto-mount and auto-unmount the mbed's flash storage
KERNEL!="sd[a-z]", ATTRS{idVendor}!="0d28", ATTRS{idProduct}!="0204", ATTRS{manufacturer}!="MBED", GOTO="automount_mbed_end"
IMPORT{program}="/sbin/blkid -o udev -p %N"
ENV{ID_FS_LABEL}!="", ENV{MNT_DIR}="mbed-%k", ENV{MOUNT_GID}="46"
ENV{ID_FS_LABEL}=="", GOTO="automount_mbed_end"

ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{MNT_OPTS}="relatime,utf8,gid=%E{MOUNT_GID},umask=002"
ACTION=="add", RUN+="/bin/mkdir -p /mnt/robot2015/%E{MNT_DIR}", RUN+="/bin/mount -o $env{MNT_OPTS} %r/%k /mnt/robot2015/%E{MNT_DIR}"
ACTION=="remove", RUN+="/bin/umount -l /mnt/robot2015/%E{MNT_DIR}", RUN+="/bin/rmdir /mnt/robot2015/%E{MNT_DIR}", RUN+="/bin/rmdir --ignore-fail-on-non-empty /mnt/robot2015"
LABEL="automount_mbed_end"

# Rules for the 2011 hardware
SUBSYSTEM!="usb_device", ACTION!="add", GOTO="robot2011_end"
# Base station (AT90USB1287 bootloader)
ATTR{idVendor}=="03eb", ATTR{idProduct}=="2ffb", MODE="0660", GROUP="plugdev"
# Base station (normal operation)
ATTR{idVendor}=="3141", ATTR{idProduct}=="0004", MODE="0660", GROUP="plugdev" SYMLINK+="rj_base_station_2011"
# JTAG adapter
ATTR{idVendor}=="0403", ATTR{idProduct}=="6010", MODE="0660", GROUP="plugdev"
# Robot
ATTR{idVendor}=="03eb", ATTR{idProduct}=="6119", MODE="0660", GROUP="plugdev", SYMLINK+="robot"
LABEL="robot2011_end"

# MBED
KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="6119", SYMLINK+="robot", MODE="0660", GROUP="plugdev"
# Note: the '%n' in SYMLINK is replaced with the device number so if there are multiple
#       mbeds connected, they get unique names
KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", SYMLINK+="mbed%n", MODE="0660", GROUP="plugdev"
KERNEL=="sd[a-z]", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ATTRS{manufacturer}=="MBED", MODE="0660", GROUP="plugdev"
