Source: sslrefbox
Section: unknown
Priority: extra
Maintainer: Armin Burchardt <armin@informatik.uni-bremen.de>
Build-Depends: debhelper (>= 5), libgtkmm-2.4-dev
Standards-Version: 3.7.2

Package: sslrefbox
Architecture: any
Depends: libgtkmm-2.4-1c2a
Description: RoboCup Small Size Robot League Referee Box
 The referee box is aimed pushing the small size league towards full
 autonomy  with little physical human contact with the robots. The referee
 box, which  has been long talked about in the small size league, is a PC
 program designed to provide a GUI interface to the assistant referee and
 serial commands to  the two competing teams. The referee box will keep a
 record of the timeouts, time remaining, score and penalties.
 http://small-size.informatik.uni-bremen.de/referee:start