# This is the "User Constraints File" for configuring the fpga
# It specifies pin names and properties

##Xilinx Spartan XC3S100E
##Pin out is based on tq144_footprint.xls


NET "phaseHInv<2>" LOC="P2";
NET "phaseHInv<1>" LOC="P3";
NET "phaseHInv<0>" LOC="P4";

NET "phaseLInv<2>" LOC="P140";
NET "phaseLInv<1>" LOC="P142";
NET "phaseLInv<0>" LOC="P143";

NET "clock" LOC="P50";

NET "h<2>" LOC="P98";
NET "h<1>" LOC="P97";
NET "h<0>" LOC="P96";


