/** robocup css style for documentation */

html {
	margin: 0;
	padding: 0;
}

body {
	width: 750px;
	margin: 0 auto;
	
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
	
	padding: 4px;
}

ul {
	list-style-type: circle;
}

h1 {
	padding: 2px;
	margin: 2px;
	
	border-bottom: 1px solid black;
}

h2 {
	border-bottom: 1px solid gray;
}

h3 {
	border-bottom: 1px solid darkgray;
}

h4 {
	text-decoration: underline;
}

p {
	padding-left: 20px;
}

code {
	border: 1px dashed black;
	padding: 2px;
	background-color: lightgreen;
}