NET "M1A_H" LOC="P3";
NET "M1A_L" LOC="P4";
NET "M1B_H" LOC="P5";
NET "M1B_L" LOC="P7";
NET "M1HALL_C" LOC="P8";
NET "M1HALL_A" LOC="P10";
NET "M1HALL_B" LOC="P12";
NET "M1C_H" LOC="P14";
NET "M1C_L" LOC="P15";
NET "M4A_H" LOC="P25";
NET "M4A_L" LOC="P26";
NET "M4B_H" LOC="P32";
NET "M4B_L" LOC="P33";
NET "M4C_H" LOC="P34";
NET "M4C_L" LOC="P35";
NET "M4HALL_B" LOC="P36";
NET "M4HALL_A" LOC="P38";
# FLASH_NCS(39) is not used by the FPGA after configuration, but is present here to provide a pullup
# while all other unused pins have pulldowns (default)
NET "FLASH_NCS" LOC="P39";
NET "M4HALL_C" LOC="P41";
NET "M4ENC_A" LOC="P43";
NET "MOSI" LOC="P44";
NET "M4ENC_B" LOC="P47";
NET "SYSCLK" LOC="P50";
#NET "FS1" LOC="P51"; # unused
#NET "FS0" LOC="P52"; # unused
# M2(57) is not used by the FPGA after configuration
NET "MISO" LOC="P63";
NET "FPGA_NCS" LOC="P69";
NET "SCK" LOC="P71";
# DONE(72) is not used by the FPGA after configuration
NET "M3ENC_A" LOC="P77";
NET "M3ENC_B" LOC="P78";
NET "M3A_H" LOC="P81";
NET "M3A_L" LOC="P82";
NET "M3B_H" LOC="P83";
NET "M3HALL_C" LOC="P84";
NET "M3B_L" LOC="P85";
NET "M3C_H" LOC="P86";
NET "M3C_L" LOC="P87";
NET "M5A_H" LOC="P88";
NET "M3HALL_A" LOC="P89";
NET "M5A_L" LOC="P91";
NET "M5B_H" LOC="P92";
NET "M5B_L" LOC="P93";
NET "M5C_H" LOC="P94";
NET "M3HALL_B" LOC="P95";
NET "M5C_L" LOC="P96";
NET "M5HALL_A" LOC="P97";
NET "M5HALL_B" LOC="P98";
NET "M5HALL_C" LOC="P101";
NET "M2A_H" LOC="P103";
NET "M2A_L" LOC="P104";
NET "M2B_H" LOC="P105";
NET "M2B_L" LOC="P106";
NET "DISCHARGE" LOC="P107";
# TMS(108) is JTAG
# ARM_TDI(109) is JTAG
# TCK(110) is JTAG)
NET "M2C_H" LOC="P112";
NET "M2C_L" LOC="P113";
NET "M2HALL_B" LOC="P114";
NET "M2HALL_A" LOC="P116";
NET "M2HALL_C" LOC="P117";
NET "M2ENC_A" LOC="P119";
NET "M2ENC_B" LOC="P120";
NET "KSDA" LOC="P122";
NET "KSCL" LOC="P123";
NET "KDONE" LOC="P124";
NET "KCHARGE" LOC="P125";
NET "KKICK" LOC="P126";
# PCB error: 128, 129 (optional), and 130 must be shorted on the board to put KCHIP on an output.
NET "KCHIP" LOC="P130";
NET "M1ENC_A" LOC="P141";
NET "M1ENC_B" LOC="P142";
# FPGA_TDI(144) is JTAG

# Hall effect sensor vectors are [2:0] which maps to {a, b, c}.
NET "M1HALL_A" PULLUP;
NET "M1HALL_B" PULLUP;
NET "M1HALL_C" PULLUP;

NET "M2HALL_A" PULLUP;
NET "M2HALL_B" PULLUP;
NET "M2HALL_C" PULLUP;

NET "M3HALL_A" PULLUP;
NET "M3HALL_B" PULLUP;
NET "M3HALL_C" PULLUP;

NET "M4HALL_A" PULLUP;
NET "M4HALL_B" PULLUP;
NET "M4HALL_C" PULLUP;

NET "M5HALL_A" PULLUP;
NET "M5HALL_B" PULLUP;
NET "M5HALL_C" PULLUP;

NET "M1ENC_A" PULLUP;
NET "M1ENC_B" PULLUP;

NET "M2ENC_A" PULLUP;
NET "M2ENC_B" PULLUP;

NET "M3ENC_A" PULLUP;
NET "M3ENC_B" PULLUP;

NET "M4ENC_A" PULLUP;
NET "M4ENC_B" PULLUP;

NET "DISCHARGE" PULLUP;
NET "KDONE" PULLUP;
NET "KSDA" PULLUP;
NET "KSCL" PULLUP;
NET "FPGA_NCS" PULLUP;
NET "FLASH_NCS" PULLUP;

NET "SYSCLK" TNM_NET="SYSCLK";
TIMESPEC "TS_SYSCLK"=PERIOD "SYSCLK" 50 ns HIGH 50 %;
