libprotobuf.so*
soccsim
simulator
simulator.app
vehicle_demo
soccer
soccer.app
soccer_tests
simple_logger
log_viewer
radio
convert_tcpdump
sslrefbox
gamecontrol
test-runner
referee.sav
*.txt
*.dot
gmon.out
logs
*.py
*.pyc
log_info
libNxCooking.so.1
libPhysXCore.so.1
libPhysXLoader.so.1
robocup.so
run_tests
robot2015.bin
base2015.bin
test-*

/qt_vehicle_demo
