libprotobuf.so*
soccsim
simulator
soccer
soccer_tests
simple_logger
log_viewer
radio
convert_tcpdump
sslrefbox
gamecontrol
referee.sav
*.txt
*.dot
gmon.out
logs
*.py
*.pyc
log_info
libNxCooking.so.1
libPhysXCore.so.1
libPhysXLoader.so.1

