---
BasedOnStyle: Google
DerivePointerAlignment: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
SpaceAfterCStyleCast: false
ColumnLimit: 100

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # External Libraries
  - Regex:           '^<(Eigen|fmt|rclcpp|ament_index_cpp|builtin_interfaces|boost|gtest|Q(.*)|google|gtest|SDL|spdlog)(\/)?([A-Za-z0-9.\/-_])+>'
    Priority:        2
  # stdlib. These includes are all lowercase
  - Regex:           '^<([a-z0-9\/-_])+>'
    Priority:        1
  # Project headers from other modules' .hpp. These should be prefixed with rj.
  - Regex:           '^<([A-Za-z0-9.\/-_])+>'
    Priority:        3
  # Project headers from this module's .hpp. These should also be prefixed with rj.
  - Regex:           '^"([A-Za-z0-9.\/-_])+"'
    Priority:        4
...
