name: Pull request checks

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: robojackets/robocup-software:foxy
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install some dependencies
        run: "sudo ./util/ubuntu-setup --yes"

      - name: Build
        run: |
          echo "::add-matcher::clang.json"
          source /opt/ros/foxy/setup.bash
          source install/setup.bash
          make all
          echo "::remove-matcher owner=clang::"

      - name: Test
        run: |
          echo "::add-matcher::gtest.json"
          source /opt/ros/foxy/setup.bash
          source install/setup.bash
          ./install/lib/rj_robocup/test-soccer
          echo "::remove-matcher owner=gtest::"

      - name: Run clang-tidy
        run: |
          echo "::add-matcher::clang-tidy.json"
          source /opt/ros/foxy/setup.bash
          source install/setup.bash
          DIFFBRANCH=$GITHUB_REF make checktidy-lines
          echo "::remove-matcher owner=clang-tidy::"
        if: always()

  mypy:
    runs-on: ubuntu-latest
    container:
      image: robojackets/robocup-software:foxy
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo python3 -m pip install mypy

      - name: Run mypy
        run: |
          sudo python3 -m pip install mypy
          echo "::add-matcher::mypy.json"
          mypy --ignore-missing-imports rj_gameplay
          echo "::remove-matcher owner=mypy::"

  pylint:
    runs-on: ubuntu-latest
    container:
      image: robojackets/robocup-software:foxy
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo python3 -m pip install pylint

      - name: Run pylint
        run: |
          sudo python3 -m pip install mypy
          echo "::add-matcher::mypy.json"
          pylint rj_gameplay/rj_gameplay rj_gameplay/stp
          echo "::remove-matcher owner=mypy::"

  style:
    runs-on: ubuntu-latest
    container:
      image: robojackets/robocup-software:foxy
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get -y install clang-format python3-pip
          sudo pip3 install flake8 flake8-diff

      - name: Run clang-format
        run: |
          echo "::add-matcher::clang-format.json"
          git diff -U0 --no-color ${{ github.base_ref }} | python3 util/clang-format-diff.py -binary clang-format -p1
          echo "::remove-matcher owner=clang-format::"

      - name: Run flake8
        run: |
          echo "::add-matcher::flake8.json"
          PATH=~/.local/bin:/usr/local/bin flake8-diff --standard-flake8-output --vcs git ${{ github.base_ref }} ${{ github.head_ref }}
          echo "::remove-matcher owner=flake8-error::"
          echo "::remove-matcher owner=flake8-warning::"